<%- include('partials/header.ejs') %>
    <%if(items.lenght > 0){%>
        <%item.forEach(items => {%>
            <div>

                <div>
                    <h1><%=items.input1%></h1>
                    <h3>Input 2:</h3>
                    <p><%=items.input2%></p>
                    <h3>Input nr 3: <%=items.input3%></h3>
                </div>

            </div>
        <%})%>
    <%}%>
<%- include('partials/footer.ejs') %>